{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <h1>Create Post! ✅</h1>

    {{ form_start(form, {
        'method': 'POST',
        'action': '/post/store'
    }) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}
